<main class="personal-info-form-container">
  <app-title-projection [title]="title" [sub_title]="sub_title" />
  <section class="personal-info-form">
    <form #f="ngForm" (ngSubmit)="submit(f)">
      <div class="form-label-container">
        <label class="form-label blue-950">Name</label>
        @if (!validName) {
        <span class="require-field red-500">This field is required</span>
        }
      </div>
      <input
        class="form-input"
        type="text"
        name="name"
        [(ngModel)]="personalInfo.name"
        placeholder="e.g. Stephen King"
        [class.error-field]="!validName"
        required
        #nameCtrl="ngModel"
      />
      <div class="form-label-container">
        <label class="form-label blue-950">Email Address</label>
        @if (!validEmail) {
        <span class="require-field red-500">This field is required</span>
        }
      </div>
      <input
        class="form-input"
        type="text"
        name="email"
        [(ngModel)]="personalInfo.email"
        [class.error-field]="!validEmail"
        placeholder="e.g. stephenking@lorem.com"
        required
        #emailCtrl="ngModel"
      />
      <div class="form-label-container">
        <label class="form-label blue-950">Phone Number</label>
        @if (!validNumber) {
        <span class="require-field red-500">This field is required</span>
        }
      </div>
      <input
        class="form-input"
        type="text"
        name="phnNumber"
        [(ngModel)]="personalInfo.phnNumber"
        [class.error-field]="!validNumber"
        required
        maxlength="13"
        placeholder="e.g. +1 234 567 890"
        #phnCtrl="ngModel"
      />
      <button class="blue-950-bg white">Next Step</button>
    </form>
  </section>
</main>
